body {
    padding:0;
    margin:0;
    font-family: Roboto, sans-serif;
}

.hero, .header, .footer {
    background-color: #1F2937;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text, .link {
    color: #E5E7EB;
    font-size: 18px;   
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.benefits-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-text{
    font-size: 36px; 
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}
.quote{
    background-color: #E5E7EB;
}

button{
    background-color: #3882f6;
}